
.noobjectfit{
    object-fit: cover;
    width:100% !important;
}
.hoveronlink:hover {
  font-weight: bold;
}
site-content, .layout-boxed{
    max-width: 1400px !important;
}
.limargin-table{
    margin-left: 95px
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#2c8fb3;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3fcafc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'Hide';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 48%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'Show';
}

table.dataTable{
    margin:1px !important;
}
.select2-selection__rendered{
    border: 1px solid #A9A9A9 !important;
}
.dataTables_wrapper.no-footer, .dataTables_scrollBody{
        border-bottom: none !important;
}

table.dataTable.no-footer{
        border-bottom: 1px solid #ddd !important;
}

/*.datatable td, .datatable th {*/
/*  border-left: 1px solid #ddd !important;*/
/*  border-right: 1px solid #ddd !important;*/
/*}*/

/*.paginate_button, .current{*/
/*    background: none !important;*/
/*    border: 1px solid #2C8FB3 !important;*/
/*    color: white !important;*/
/*}*/

/*.datatable tr:nth-child(even){background-color: #f2f2f2 !important;}*/

/*#customers th {*/
/*  text-align: left !important;*/
/*  color: white !important;*/
/*}*/

.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}


.sorting_asc{
     background-color: #2C8FB3 !important;
     color:white;
}
.sorting{
    background-color: #2C8FB3 !important;
     color:white;
}


.alm-btn-wrap {
  display: block;
  text-align: center;
  padding: 10px 0 25px;
  position: relative
}

.alm-btn-wrap:after {
  display: table;
  clear: both;
  height: 0;
  width: 100%;
  content: ''
}

.alm-btn-wrap .alm-load-more-btn {
  font-size: 15px;
  font-weight: 600;
  width: auto;
  height: 42px;
  line-height: 42px;
  background: #ed7070;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 0 0 4px;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}

.alm-btn-wrap .alm-load-more-btn.loading,
.alm-btn-wrap .alm-load-more-btn:hover {
  background-color: #e06464;
  color: #fff;
  text-decoration: none
}

.alm-btn-wrap .alm-load-more-btn:active {
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .1);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, .1);
  text-decoration: none
}

.alm-btn-wrap .alm-load-more-btn.loading {
  cursor: default;
  outline: 0;
  padding-left: 44px
}

.alm-btn-wrap .alm-load-more-btn.done {
  cursor: default;
  opacity: .15;
  background-color: #ed7070;
  outline: 0!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important
}

.alm-btn-wrap .alm-load-more-btn.done:before,
.alm-btn-wrap .alm-load-more-btn:before {
  background: 0 0;
  width: 0
}

.alm-btn-wrap .alm-load-more-btn.loading:before {
  background: #fff url(/wp-content/plugins/ajax-load-more/core/img/ajax-loader.gif) no-repeat center center;
  width: 30px;
  height: 30px;
  margin: 6px;
  border-radius: 3px;
  display: inline-block;
  z-index: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out
}

.alm-masonry {
  display: block;
  overflow: hidden;
  clear: both
}

.ajax-load-more-wrap.blue .alm-load-more-btn {
  background-color: #0081bf
}

.ajax-load-more-wrap.blue .alm-load-more-btn.done,
.ajax-load-more-wrap.blue .alm-load-more-btn.loading,
.ajax-load-more-wrap.blue .alm-load-more-btn:hover {
  background-color: #0073aa
}

.ajax-load-more-wrap.green .alm-load-more-btn {
  background-color: #6fca68
}

.ajax-load-more-wrap.green .alm-load-more-btn.done,
.ajax-load-more-wrap.green .alm-load-more-btn.loading,
.ajax-load-more-wrap.green .alm-load-more-btn:hover {
  background-color: #64b95e
}

.ajax-load-more-wrap.red .alm-load-more-btn {
  background-color: #ca4b4b
}

.ajax-load-more-wrap.red .alm-load-more-btn.done,
.ajax-load-more-wrap.red .alm-load-more-btn.loading,
.ajax-load-more-wrap.red .alm-load-more-btn:hover {
  background-color: #b13b3b
}

.ajax-load-more-wrap.purple .alm-load-more-btn {
  background-color: #a86bb9
}

.ajax-load-more-wrap.purple .alm-load-more-btn.done,
.ajax-load-more-wrap.purple .alm-load-more-btn.loading,
.ajax-load-more-wrap.purple .alm-load-more-btn:hover {
  background-color: #9963a8
}

.ajax-load-more-wrap.grey .alm-load-more-btn {
  background-color: #888
}

.ajax-load-more-wrap.grey .alm-load-more-btn.done,
.ajax-load-more-wrap.grey .alm-load-more-btn.loading,
.ajax-load-more-wrap.grey .alm-load-more-btn:hover {
  background-color: #777
}

.ajax-load-more-wrap.white .alm-load-more-btn {
  background-color: #fff;
  color: #666;
  border: 1px solid #efefef
}

.ajax-load-more-wrap.white .alm-load-more-btn.done,
.ajax-load-more-wrap.white .alm-load-more-btn.loading,
.ajax-load-more-wrap.white .alm-load-more-btn:hover {
  background-color: #efefef;
  color: #333
}

.ajax-load-more-wrap.white .alm-load-more-btn.done {
  border-color: #fff
}

.ajax-load-more-wrap.infinite .alm-load-more-btn {
  width: 100%;
  background-color: transparent!important;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/wp-content/plugins/ajax-load-more/core/img/spinner.gif);
  border: none!important;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  overflow: hidden;
  text-indent: -9999px;
  cursor: default!important;
  outline: 0!important
}

.ajax-load-more-wrap.infinite .alm-load-more-btn:before {
  display: none!important
}

.ajax-load-more-wrap.infinite .alm-load-more-btn:active,
.ajax-load-more-wrap.infinite .alm-load-more-btn:focus {
  outline: 0
}

.ajax-load-more-wrap.infinite .alm-load-more-btn.done {
  opacity: 0
}

.ajax-load-more-wrap.infinite .alm-load-more-btn.loading {
  opacity: 1
}

.ajax-load-more-wrap.infinite.skype .alm-load-more-btn {
  background-image: url(/wp-content/plugins/ajax-load-more/core/img/spinner-skype.gif)
}

.ajax-load-more-wrap.infinite.ring .alm-load-more-btn {
  background-image: url(/wp-content/plugins/ajax-load-more/core/img/spinner-ring.gif)
}

.ajax-load-more-wrap.infinite.fading-blocks .alm-load-more-btn {
  background-image: url(/wp-content/plugins/ajax-load-more/core/img/loader-fading-blocks.gif)
}

.ajax-load-more-wrap.infinite.fading-circles .alm-load-more-btn {
  background-image: url(/wp-content/plugins/ajax-load-more/core/img/loader-fading-circles.gif)
}

.ajax-load-more-wrap.infinite.chasing-arrows .alm-load-more-btn {
  background-image: url(/wp-content/plugins/ajax-load-more/core/img/spinner-chasing-arrows.gif)
}

.alm-listing {
  margin: 0;
  padding: 0
}

.alm-listing .alm-reveal {
  outline: 0
}

.alm-listing .alm-reveal:after {
  display: table;
  clear: both;
  height: 0;
  width: 100%;
  content: ''
}

.alm-listing .alm-paging-content>li,
.alm-listing .alm-reveal>li,
.alm-listing>li {
  background: 0 0;
  margin: 0 0 30px;
  padding: 0 0 0 170px;
  overflow: hidden;
  position: relative;
  list-style: none
}

.alm-listing .alm-paging-content>li.no-img,
.alm-listing .alm-reveal>li.no-img,
.alm-listing>li.no-img {
  padding: 0
}

.alm-listing .alm-paging-content>li p,
.alm-listing .alm-reveal>li p,
.alm-listing>li p {
  margin: 0
}

.alm-listing .alm-paging-content>li p.entry-meta,
.alm-listing .alm-reveal>li p.entry-meta,
.alm-listing>li p.entry-meta {
  margin: 0 0 5px;
  opacity: .75
}

.alm-listing .alm-paging-content>li h3,
.alm-listing .alm-reveal>li h3,
.alm-listing>li h3 {
  margin: 0 0 10px
}

.alm-listing .alm-paging-content>li img,
.alm-listing .alm-reveal>li img,
.alm-listing>li img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px
}

.alm-placeholder {
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  display: none
}

/*.site-main-content td,tr{*/
/*  border-color: transparent !important;*/
/*}*/
#homeProperties .new-property-info{
  color:#4a525d !important;
}
.meta-inner-wrapper{
  padding-top:5px !important;
}
.meta-item-label{
  display:none !important;
}
.meta-item{
  padding-right:10px  !important;
}
.new-price-and-status{
  float:left;
}
.alm-reveal{
  flex-wrap:wrap;
  display:flex;
}
#ms-list-1 label{
  color:black;
}
.newFooter{
  padding-bottom:30px;
}
.footerBoxes{
  width:50%;
}
.fRight{
  width:49%;
}

#inspiry_social_media_icons-1{
  width: 90%;
  
}
#lc_taxonomy-5
{
  width:50%;
  float:left;
}
#lc_taxonomy-3
{
  width:49%;
  float:right;
}

.map-select {
  position: absolute;
  z-index: 100;
  right: -6px;
  margin-top: 7px;
}

.pd0 {
  padding: 0 !important;
}

.ms-options-wrap input[type="checkbox"] {
  display: block !important;
  -webkit-appearance: checkbox !important;
}

.searchbtn {
  width: 85% !important;
  float: left !important;
}

.advsearch {
  width: 12%!important;
  float: right!important;
  line-height: 48px!important;
  text-align: center!important;
  cursor: pointer!important;
}

.advsearch:hover {
  color: #fff !important;
}

#search_btn {
  width: 60%;
  float: left;
}

#advancesearchLink_foropen {
  width: 37%;
  float: right;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}

#advancesearchLink_foropen:hover {
  color: #fff;
}

#advancesearch {
  width: 37%;
  float: right;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}

#advancesearch:hover {
  color: #fff;
}

.tooltiptext {
  position: relative;
  background: rgba(0,0,0,0.8);
  width: 275px;
  border: 1px solid rgba(0,0,0,0.8);
  color: #fff;
  margin-top: 70px;
  padding: 2px 10px 2px 10px;
  border-radius: 6px;
  text-align: center;
  margin-left: 50px;
}

.tooltiptext_1 {
  position: relative;
  background: rgba(0,0,0,0.8);
  width: 100%;
  border: 1px solid rgba(0,0,0,0.8);
  color: #fff;
  margin-top: 70px;
  padding: 2px 10px 2px 10px;
  border-radius: 6px;
  text-align: center;
  margin-left: 150px;
}

.tooltiptext:after, .tooltiptext:before {
  bottom: 102%;
  left: 28%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltiptext_1:after, .tooltiptext_1:before {
  bottom: 102%;
  right: 12px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltiptext:after , .tooltiptext_1:after {
  border-color: rgba(136,183,213,0);
  border-bottom-color: transparent;
  border-width: 18px;
  margin-left: -26px;
}

.tooltiptext:before, .tooltiptext_1:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(0,0,0.8);
  border-width: 12px;
  margin-left: -21px;
}

.property-listing-simple {
  border-top: 3px solid
  #55ab5c!important;
  border-left: 3px solid
  #55ab5c!important;
  border-right: 3px solid
  #55ab5c!important;
}

.property-thumbnail {
  border-right: 1px solid #55ab5c!important;
}

.property-description {
  border-left: 1px solid #55ab5c!important;
}

.property-thumbnail img {
  height: 320px!important;
}

.tooltiptext {
  text-transform: none;
}

@media(min-width:991px) {
  .font90 {
    padding-left: 43px;
  }
}

.showmob {
  display: none;
}

#ms-list-1,#ms-list-2 {
  margin-right: 6px;
}

#ms-list-1 label,#ms-list-2 label {
  padding: 1px 0px 0px 24px!important;
}

#map-head .select2-container--default .select2-selection--single,#ms-list-1,#ms-list-2,#box_second .select2-container {
  box-shadow: 0px 0px 7.49px 0.51px rgba(0, 0, 0, 0.5);
}

#ms-list-1 button::after,#ms-list-2 button::after {
  right: 8px!important;
}

#advancesearchClose {
  color: white;
  text-decoration: none;
  background-color: #57AA5B;
  width: 150px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

#advanceSearchBox label::before {
  box-shadow: 0px 0px 9.49px 3.51px rgba(40, 40, 40, 0.2);
}

.advanceSearchBox label::before {
  box-shadow: 0px 0px 9.49px 3.51px rgba(40, 40, 40, 0.2);
}

.tooltiptext::before, .tooltiptext_1::before {
  border-bottom-color: rgba(0,0,0,0.8)!important;
}

#advanceSearchBox .option-bar input {
  padding: 11px!important;
}

.advanceSearchBox .option-bar input {
  padding: 11px!important;
}

#advanceSearchBox {
  max-height: 500px;
  /*overflow-y: scroll;*/
}

.advanceSearchBox {
  max-height: 500px;
  /*overflow-y: scroll;*/
}

.abc {
  color: black;
}

#ms-list-1 button,#ms-list-2 button {
  padding: 12px 20px 12px 5px !important;
  margin-top: 0!important;
  color: #4a525d;
  border: 0px;
  font-size: 14px!important;
}

#ms-list-1 span,#ms-list-2 span {
  padding-left: 13px!important;
}

#ms-list-1 button::after,#ms-list-2 button::after {
  border-top-color: #b5b9bf;
}

#ms-list-2 label {
  color: #4a525d;
}

#map-div {
  margin-top: -26px;
}

#searchDiv .homeSearchCon {
  top: 9vh;
}

.tooltiptext_1 {
  width: 100%!important;
  margin-left: 0px!important;
}

#homeProperties .form-submit-btn,#map-head .form-submit-btn {
  background-color: transparent;
  color: #000;
}

#homeProperties {
  min-height:0px !important;
  padding-top: 5vh!important;
}

@media(max-width:576px) {
 #map-head .form-submit-btn{
     margin-top: 10px!important;
 }


  .mt24{
    margin-top:-24px;
  }
  #ms-list-1 button {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
  }

  #homeProperties {
    padding-top: 4vh!important;
  }

  .text-left {
    margin-left: -38px;
  }

  .font90 {
    font-size: 19px!important;
    padding-top: 10px;
  }

  #pt150 {
    margin-top: 30px;
  }

  #hide12 {
    margin-top: 10px;
  }

  .text-left {
    text-align: left!important;
  }

  #hide12,#hide123 {
    display: none;
  }

  .showmob {
    display: block;
    padding-left: 37px;
  }

  .showmob div {
    text-align: center;
  }

  .showmob button {
    background-color: #57AA5B;
    color: #fff;
    border: 0px;
    font-size: 15px;
  }

  .showmob2 {
    padding: 8px 15px!important;
    margin-left:50px;
    text-transform: uppercase;
  }

  .showmob1 {
    width: 38%;
    margin-right: 26px;
    padding: 8px 0px!important;
    text-transform: uppercase !important;
  }

  #ms-list-1,#ms-list-2 {
    margin-bottom: 6px;
  }

  #homeProperties .newContainer {
    padding-bottom: 0vh!important;
  }

  #homeProperties .new-property-description {
    text-align: center;
  }

  #map-head .select2-container,#ms-list-1,#ms-list-2,#box_second .select2-container {
    width: 85%!important;
  }

  #wp-chatbot-chat-container {
    bottom: 35px!important;
  }

  #searchDiv .homeSearchHeading {
    padding-top: 18vh;
  }

  /*#advancesearchClose {*/
    /*  padding-bottom: 30px;*/
    /*}*/

    #advanceSearchBox {
      padding-top: 30px!important;
      overflow-y: scroll;
    }

    #advanceSearchBox .extra-search-fields label {
      font-size: 11px!important;
    }

    #advanceSearchBox h1 {
      font-size: 3rem!important;
    }


    .advanceSearchBox {
      padding-top: 30px!important;
      overflow-y: scroll;
    }

    .advanceSearchBox .extra-search-fields label {
      font-size: 11px!important;
    }

    .advanceSearchBox h1 {
      font-size: 3rem!important;
    }

    .tooltiptext::before {
      left: 77%!important;
      margin-left: 0px!important;
    }

    .tooltiptext {
      margin-left: 0px!important;
      width: 100%!important;
    }

    .keyword-txt {
      font-size: 12px!important;
    }

    #keyword-txt {
      font-size: 12px!important;
    }

    #listing-map {
      height: 380px!important;
    }

    #homeProperties .map-select {
      right: 4px;
    }

    #colcen .form-submit-btn,#colcen1 .form-submit-btn {
      background-color: rgba(0,0,0,0.6)!important;
      color: #fff!important;
      width: 85%;
    }

    #searchDiv .homeSearchCon {
      top: 0vh;
    }
  }
  
   
    
  @media(min-width:991px) and (max-width:1350px) {
    #pt121 h1 {
      font-size: 3rem;
      padding-top: 15px;
    }
  }

  @media(min-width:577px) and (max-width:990px) {
      
    #lc_taxonomy-3, #lc_taxonomy-5{
      width:100% !important;
    }
    .tooltiptext,.tooltiptext1 {
      width: 157%!important;
      margin-left: 0px!important;
    }

    .tooltiptext::after, .tooltiptext::before {
      bottom: 101%!important;
      left: 57%!important;
    }

    .tooltiptext_1 {
      width: 110%!important;
    }

    #advanceSearchBox a.form-submit-btn {
      width: 14%!important;
    }

    #advanceSearchBox {
      padding-top: 45px!important;
      overflow-y: scroll;
      
    }


    .advanceSearchBox a.form-submit-btn {
      width: 14%!important;
    }

    .advanceSearchBox {
      padding-top: 45px!important;
      overflow-y: scroll;
      
    }

    /*#advancesearchClose {*/
      /*  padding-bottom: 60px;*/
      /*}*/

      #listing-map {
        height: 400px!important;
      }

      #ms-list-1 {
        margin-top: 68px!important;
      }

      #map-head .select2-container,#ms-list-1,#ms-list-2,#box_second .select2-container {
        width: 90%!important;
      }

      #colcen .form-submit-btn,#colcen1 .form-submit-btn {
        background-color: rgba(0,0,0,0.8)!important;
        width: 90%!important;
        color: #fff;
      }

      #pt150 {
        padding-top: 160px!important;
        padding-bottom: 30px!important;
      }

      #homeProperties .map-select,#map-head .map-select {
        right: 28px!important;
      }

      #pt150 .homepropBoxes {
        min-width: 45%!important;
      }

      #pt150 .homepropBoxes img {
        max-width: 100%!important;
      }

      #homeProperties .new-property-description {
        text-align: center;
      }

      #searchDiv .homeSearchCon {
        top: 0vh!important;
      }
      
    }

    #advanceSearchBox {
      min-height: 61vh;
      width: 92%!important;
    }

    @media screen and (max-width: 650px) {
     
      #map-image {
        background-image: url(/wp-content/themes/inspiry-real-places/images/map/mapshow.jpg);
        background-size:cover;
      }
    }

    @media(min-width: 651px) and (max-width:1190px) {
      
      #map-image {
        background-image: url(/wp-content/themes/inspiry-real-places/images/map/mapshow.jpg);
        background-size:cover;
      }
    }

    @media (min-width: 1191px) {
      
      #map-image {
        background-image: url(/wp-content/themes/inspiry-real-places/images/map/mapshow.jpg);
      }
    }

    @media (max-width: 576px){
     .footerBoxes{
       width:100% !important;
     }
     
     #lc_taxonomy-3{
      width:100% !important;
    }
    #lc_taxonomy-5{
      width:100% !important;
    }
  }
  @media(min-width: 1350px) and (max-width:1500px) {
      
     #homeProperties h1 {
        width:113%!important;
      }
    }
    @media(min-width: 1270px) and (max-width:1349px) {
      
     #homeProperties h1 {
        width:100%!important;
        padding-left:30px!important;
      }
    }
    @media(min-width: 991px) and (max-width:1269px) {
      
     #homeProperties h1 {
        width:100%!important;
        padding-left:45px!important;
      }
    }
    @media(min-width: 360px) and (max-width:740px) {
      
     #homeProperties h1 {
        width:106%!important;
       
      }
      .showmob1{
          width:34%!important;
      }
    }
    .menu-item-459374{
        cursor:pointer!important;
    }
     @media(min-width: 360px) and (max-width:740px) {
      
    .showmob2 {

    padding: 7px 15px !important;
    margin-left: 58px!important;
    margin-top: 25px!important;

    }
    #map-head .form-submit-btn{
        margin-top: 4px!important;

       margin-left: 57px!important;
        height:38px!important;
        padding: 7px 16px!important;
    }
    }
    @media(min-width: 577px) and (max-width:991px) {
      
     #advanceSearchBox{
        min-height: 54vh !important;
        padding-top: 55px  !important;
      }
      #map-head .form-submit-btn{
          width: 90%!important;
      }
      #homeProperties .font90{
          font-size:29px!important;
          margin-left:-13px!important;
          margin-top:-20px!important;
      }
      #homeProperties .map-select{
          right:26px!important;
         width:50%!important;
         margin-top:-20px!important;
      }
      #ms-list-1{
          margin-top:0px!important;
      }
      #homeProperties #hide123{
          width:100%!important;
          display:inline-block!important;
      }
    #homeProperties #ms-list-1{
        width:49%!important;
        float:left!important;
    }
    #homeProperties #box_second{
        width:49%!important;
        float:right!important;
    }
    #homeProperties .form-submit-btn{
        width:95%!important;
    }
    #aftersearchshow{
        padding-top:24px!important;
    }
    }
    @media(min-width: 360px) and (max-width: 740px) {
        .close-btn-search{
            margin-bottom:24px!important;
        }
        #advanceSearchBox .form-control-buttons{
            margin-top:12px!important;
        }
        
    }
    
    
    @media(max-width:576px) {
     #map-head .form-submit-btn{
         margin-top: 10px!important;
     }
     #map-head .form-submit-btn{
         padding: 7px 22px !important;
     }
        
    }
    
@media screen and (max-width: 768px) {
        .limargin-table{
            margin-left: 0px !important;
        }
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
   
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100% !important;
   }
   
   .table table-bordered, .table-striped, .table-responsive-stack, .dataTable, .no-footer{
       width:100% !important;
       overflow:hidden !important;
       border-right: 2px solid #ddd !important;
   }
}

.background-cover-no-repeat {
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
}

.stripe-container {
  position: relative;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay-on-thumbnail-stripe {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  color: white;
  font-size: 20px;
  height: 30px;
  max-height: 30px;
  padding: 5px;
  text-align: center;
  align-content: center;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: visible;
  display: block;
}